@model Mobi.Web.Models.Employees.EmployeeModel

@{
    ViewData["Title"] = @T("Mobi.Employee.Add.Title");
}
<form asp-action="Create" method="post" class="needs-validation needs-validation custom-top-spacing" novalidate>
    <div class="card card-info card-outline mb-4 mx-3">
        <div class="card-header bg-white py-3 border-bottom">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-0">@T("Mobi.Employee.Add.Title")</h5>
                <div class="d-flex gap-2">
                    <a href="@Url.Action("List", "Employee")" class="btn btn-info btn-sm">
                        <i class="fas fa-arrow-left"></i> @T("Mobi.Employee.BackToList")
                    </a>
                    <button type="submit" class="btn btn-info btn-sm">
                        <i class="fas fa-plus"></i> @T("Mobi.Employee.Save")
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row g-4">
                <div class="col-md-6">
                    <label asp-for="NameEng" class="form-label">@T("Mobi.Employee.NameEnglish")</label><span class="text-danger">*</span>
                    <input asp-for="NameEng" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.NameEnglish")" required>
                    <span asp-validation-for="NameEng" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="NameArabic" class="form-label">@T("Mobi.Employee.NameArabic")</label><span class="text-danger">*</span>
                    <input asp-for="NameArabic" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.NameArabic")">
                    <span asp-validation-for="NameArabic" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Status" class="form-label">@T("Mobi.Employee.Status")</label>
                    <select asp-for="Status" class="form-select" required>
                        <option selected value="true">@T("Mobi.Employee.Status.Active")</option>
                        <option value="false">@T("Mobi.Employee.Status.Inactive")</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="FileNumber" class="form-label">@T("Mobi.Employee.FileNumber")</label>
                    <input asp-for="FileNumber" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.FileNumber")">
                    <span asp-validation-for="FileNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="MobileNumber" class="form-label">@T("Mobi.Employee.MobileNumber")</label><span class="text-danger">*</span>
                    <input asp-for="MobileNumber" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.MobileNumber")">
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">@T("Mobi.Employee.Email")</label><span class="text-danger">*</span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.Email")">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="CID" class="form-label">@T("Mobi.Employee.CID")</label><span class="text-danger">*</span>
                    <input asp-for="CID" class="form-control" placeholder="@T("Mobi.Employee.Placeholder.CID")">
                    <span asp-validation-for="CID" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>
}
