<!DOCTYPE html>
<html lang="en">
@{
    var languageCookie = HttpContextAccessor.HttpContext?.Request.Cookies["language"];
    var currentLanguage = languageCookie ?? "1"; // Default to "1" (English) if no cookie found

    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;

}
<!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mobi Admin | Dashboard</title><!--begin::Primary Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Mobi | Dashboard">
    <meta name="author" content="ColorlibHQ">
    <meta name="description" content="AdminLTE is a Free Bootstrap 5 Admin Dashboard, 30 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard"><!--end::Primary Meta Tags--><!--begin::Fonts-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous"><!--end::Fonts--><!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous"><!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous"><!--end::Third Party Plugin(Bootstrap Icons)--><!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="../../dist/css/adminlte.css">
    <link rel="stylesheet" href="~/css/custom.css"><!--end::Required Plugin(AdminLTE)--><!-- apexcharts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    @* <link rel="stylesheet" href="../../dist/css/all.min.css"> *@

    <!--begin::jQuery and DataTable scripts-->
    <script src="~/datatables/jquery-3.6.0.min.js"></script>
    <script src="~/datatables/jquery.dataTables.min.js"></script>
    <script src="~/datatables/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="~/datatables/dataTables.bootstrap5.min.css" />
    <!--end::jQuery and DataTable scripts-->
    @RenderSection("Scripts", required: false)
</head> <!--end::Head--> <!--begin::Body-->
@* <body class="layout-fixed sidebar-expand-lg sidebar-mini bg-body-tertiary"> *@
<body class="layout-fixed  sidebar-mini bg-body-tertiary hold-transition">

    <!--begin::App Wrapper-->
    <div class="app-wrapper">
        <!--begin::Header-->
        <nav class="app-header navbar navbar-expand bg-body">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Start Navbar Links-->
                <ul class="navbar-nav">
                    @*   <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li> *@

                    @*   <li class="nav-item">
                        <select id="language-switcher" onchange="changeLanguage()">
                            <option value="1">English</option>
                            <option value="2">Arabic</option>
                        </select>
                    </li> *@
                    @* <li class="nav-item d-none d-md-block"> <a href="#" class="nav-link">Home</a> </li>
                    <li class="nav-item d-none d-md-block"> <a href="#" class="nav-link">Contact</a> </li> *@
                </ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->
                <ul class="navbar-nav ms-auto">
                    <!--begin::Navbar Search-->
                    @* <li class="nav-item"> <a class="nav-link" data-widget="navbar-search" href="#" role="button"> <i class="bi bi-search"></i> </a> </li> <!--end::Navbar Search--> <!--begin::Messages Dropdown Menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown" href="#"> <i class="bi bi-chat-text"></i> <span class="navbar-badge badge text-bg-danger">3</span> </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <a href="#" class="dropdown-item">
                                <!--begin::Message-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"> <img src="../../dist/assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 rounded-circle me-3"> </div>
                                    <div class="flex-grow-1">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-end fs-7 text-danger"><i class="bi bi-star-fill"></i></span>
                                        </h3>
                                        <p class="fs-7">Call me whenever you can...</p>
                                        <p class="fs-7 text-secondary">
                                            <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                                        </p>
                                    </div>
                                </div> <!--end::Message-->
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <!--begin::Message-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"> <img src="../../dist/assets/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 rounded-circle me-3"> </div>
                                    <div class="flex-grow-1">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-end fs-7 text-secondary"> <i class="bi bi-star-fill"></i> </span>
                                        </h3>
                                        <p class="fs-7">I got your message bro</p>
                                        <p class="fs-7 text-secondary">
                                            <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                                        </p>
                                    </div>
                                </div> <!--end::Message-->
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <!--begin::Message-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"> <img src="../../dist/assets/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 rounded-circle me-3"> </div>
                                    <div class="flex-grow-1">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-end fs-7 text-warning"> <i class="bi bi-star-fill"></i> </span>
                                        </h3>
                                        <p class="fs-7">The subject goes here</p>
                                        <p class="fs-7 text-secondary">
                                            <i class="bi bi-clock-fill me-1"></i> 4 Hours Ago
                                        </p>
                                    </div>
                                </div> <!--end::Message-->
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li> <!--end::Messages Dropdown Menu--> <!--begin::Notifications Dropdown Menu-->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown" href="#"> <i class="bi bi-bell-fill"></i> <span class="navbar-badge badge text-bg-warning">15</span> </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-envelope me-2"></i> 4 new messages
                                <span class="float-end text-secondary fs-7">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-people-fill me-2"></i> 8 friend requests
                                <span class="float-end text-secondary fs-7">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-file-earmark-fill me-2"></i> 3 new reports
                                <span class="float-end text-secondary fs-7">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item dropdown-footer">
                                See All Notifications
                            </a>
                        </div>
                    </li> <!--end::Notifications Dropdown Menu--> <!--begin::Fullscreen Toggle--> *@
                    <li class="nav-item"> <a class="nav-link" href="#" data-lte-toggle="fullscreen"> <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i> <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i> </a> </li> <!--end::Fullscreen Toggle--> <!--begin::User Menu Dropdown-->
                    <li class="nav-item dropdown user-menu">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <img src="../../dist/assets/img/user2-160x160.jpg" class="user-image rounded-circle shadow" alt="User Image">  <span class="d-none d-md-inline"> @User.Identity.Name @*  <i class="bi bi-list"></i> *@</span> </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <!--begin::User Image-->
                            <li class="user-header text-bg-primary">
                                <img src="../../dist/assets/img/user2-160x160.jpg" class="rounded-circle shadow" alt="User Image">
                                <p>
                                    @User.Identity.Name
                                    @* <small>Member since Nov. 2023</small> *@
                                </p>
                            </li> <!--end::User Image--> <!--begin::Menu Body-->
                            <li class="user-body">
                                <!--begin::Row-->
                                <div class="row">
                                    @*  <div class="col-4 text-center"> <a href="#">Followers</a> </div>
                                    <div class="col-4 text-center"> <a href="#">Sales</a> </div>
                                    <div class="col-4 text-center"> <a href="#">Friends</a> </div> *@

                                    <select class="btn btn-primary dropdown-toggle" id="language-switcher" onchange="changeLanguage()">
                                        <option value="1" selected="@(currentLanguage == "1" ? "selected" : null)">@T("Mobi.Layout.Language.English")</option>
                                        <option value="2" selected="@(currentLanguage == "2" ? "selected" : null)">@T("Mobi.Layout.Language.Arabic")</option>
                                    </select>
                                </div> <!--end::Row-->
                            </li> <!--end::Menu Body--> <!--begin::Menu Footer-->
                            <li class="user-footer">
                                <a href="/systemusers/changepassword" class="btn btn-default btn-flat">@T("Mobi.Layout.ChangePassword")</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                                        <button class="btn btn-default btn-flat float-end" type="submit">@T("Mobi.Layout.SignOut")</button>
                                    </form>
                                }
                            </li> <!--end::Menu Footer-->
                        </ul>
                    </li> <!--end::User Menu Dropdown-->
                </ul> <!--end::End Navbar Links-->
            </div> <!--end::Container-->
        </nav> <!--end::Header--> <!--begin::Sidebar-->

        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
            <div class="sidebar-brand">
                <a href="/" class="brand-link"> <!--begin::Brand Image--> <img src="../../uploads/log_mobi.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light"></span> <!--end::Brand Text--> </a> <!--end::Brand Link-->
            </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <script>
                                                $(document).ready(function () {



                            // Restore active menu from localStorage
                            var activeMenu = localStorage.getItem("activeMenu");

                            if (activeMenu) {
                                $(".nav-sidebar .nav-item").removeClass("active menu-open");
                                $(".nav-sidebar .nav-link").removeClass("active");

                                var $activeItem = $(".nav-sidebar a[href='" + activeMenu + "']");
                                $activeItem.addClass("active").closest(".nav-item").addClass("active menu-open");

                                // Expand parent menu if inside a treeview
                                $activeItem.closest(".has-treeview").addClass("menu-open");
                                $activeItem.closest(".has-treeview > a").addClass("active");
                            }

                            // Click Event to Store Active Menu
                            $(".nav-sidebar .nav-item a").on("click", function () {
                                localStorage.setItem("activeMenu", $(this).attr("href"));
                            });

                            // Sidebar Toggle Click Event
                            $(".nav-sidebar .nav-item.has-treeview > a").on("click", function (e) {
                                e.preventDefault(); // Prevent default link action

                          // Clear localStorage when clicking a different menu item
                                 localStorage.removeItem("activeMenu");

                                let parent = $(this).parent();

                                if (parent.hasClass("menu-open")) {
                                    parent.removeClass("menu-open");
                                    parent.find(".nav-treeview").slideUp();
                                } else {
                                    $(".has-treeview").removeClass("menu-open");
                                    $(".nav-treeview").slideUp();

                                    parent.addClass("menu-open");
                                    parent.find(".nav-treeview").slideDown();
                                }

                                // Store the open menu in localStorage
                                localStorage.setItem("openMenu", $(this).attr("href"));
                            });


                             $(".sidebar-brand").on("click", function () {
                                  localStorage.removeItem("activeMenu");
                              $(".nav-sidebar .nav-item").removeClass("active menu-open");
                        })
                        });

                    </script>

                    <!--begin::Sidebar Menu-->
                    <ul class="nav sidebar-menu nav-sidebar flex-column" data-lte-toggle="treeview" role="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="nav-icon fas fa-home"></i>
                                <p>@T("Mobi.Layout.Menu.Dashboard")</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>@T("Mobi.Layout.Menu.BasicData")<i class="nav-arrow bi bi-chevron-right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"><a class="nav-link" href="/location/List"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.Locations")</p></a></li>
                                <li class="nav-item"><a href="/employee/List" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.Employees")</p></a></li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-bars-progress"></i>
                                <p>@T("Mobi.Layout.Menu.Manage")<i class="nav-arrow bi bi-chevron-right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"><a href="/mobilemanage/mobilemanage" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.EmployeeMobile")</p></a></li>
                                <li class="nav-item"><a href="/employeelocation/employeelocation" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.EmployeeLocations")</p></a></li>
                                <li class="nav-item"><a href="/employeeattendance/logs" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.Attendance")</p></a></li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa-solid fa-universal-access"></i>
                                <p>@T("Mobi.Layout.Menu.Permissions")<i class="nav-arrow bi bi-chevron-right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"><a href="/systemusers/index" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.SystemUsers")</p></a></li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>@T("Mobi.Layout.Menu.Reports")<i class="nav-arrow bi bi-chevron-right"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"><a href="/reports/dailyattendancereport" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.DailyAttendanceReport")</p></a></li>
                                <li class="nav-item"><a href="/reports/employeedata" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.EmployeeDataReport")</p></a></li>
                                <li class="nav-item"><a href="/reports/registeredphones" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.RegisteredPhones")</p></a></li>
                                <li class="nav-item"><a href="/reports/monthlyworkinghours" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.MonthlyWorkingHours")</p></a></li>
                                <li class="nav-item"><a href="/reports/dailyworkinghours" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.DailyWorkingHours")</p></a></li>
                                <li class="nav-item"><a href="/reports/employeelocationauthorityreport" class="nav-link"><i class="nav-icon bi bi-circle"></i><p>@T("Mobi.Layout.Menu.EmployeeLocationAuthorityReport")</p></a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--end::Sidebar Menu-->
                </nav>
            </div> <!--end::Sidebar Wrapper-->
        </aside> <!--end::Sidebar--> <!--begin::App Main-->
        <main class="app-main">
            <div id="notificationContainer" class="notification-container" style="display: none;">
                <div id="notificationMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                    <!-- Dynamic message will be inserted here -->
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="successAlert">
                    @successMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorAlert">
                    @errorMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main> <!--end::App Main--> <!--begin::Footer-->
        <footer class="app-footer">
            <!--begin::To the end-->
            <div class="float-end d-none d-sm-inline">@* Anything you want *@</div> <!--end::To the end--> <!--begin::Copyright--> <strong>
                Copyright &copy; @DateTime.Now.Year&nbsp;
                <a href="#" class="text-decoration-none">Mobi</a>.
            </strong>
            All rights reserved.
            <!--end::Copyright-->
        </footer> <!--end::Footer-->
    </div> <!--end::App Wrapper--> <!--begin::Script--> <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@@2.3.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script> <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.11.8/dist/umd/popper.min.js" integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script> <!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script> <!--end::Required Plugin(Bootstrap 5)--><!--begin::Required Plugin(AdminLTE)-->
    <script src="../../dist/js/adminlte.js"></script> <!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
    <script>
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-light",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function() {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
    </script> <!--end::OverlayScrollbars Configure--> <!-- OPTIONAL SCRIPTS --> <!-- sortablejs -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@@1.15.0/Sortable.min.js" integrity="sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=" crossorigin="anonymous"></script> <!-- sortablejs -->
    <script>
        const connectedSortables =
            document.querySelectorAll(".connectedSortable");
        connectedSortables.forEach((connectedSortable) => {
            let sortable = new Sortable(connectedSortable, {
                group: "shared",
                handle: ".card-header",
            });
        });

        const cardHeaders = document.querySelectorAll(
            ".connectedSortable .card-header",
        );
        cardHeaders.forEach((cardHeader) => {
            cardHeader.style.cursor = "move";
        });
    </script> <!-- apexcharts -->
    <script>
        // Add an event listener to detect changes in the language switcher dropdown
        document.getElementById('language-switcher').addEventListener('change', function () {
            var selectedLanguage = this.value;

            // Use the Fetch API to send a POST request
            fetch('/Language/SetLanguage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(selectedLanguage)
            })
            .then(function (response) {
                if (response.ok) {
                    // If successful, reload the page
                    location.reload();
                } else {
                    throw new Error('Error setting language preference.');
                }
            })
            .catch(function (error) {
                alert(error.message);
            });
        });

        // Assuming you have a currentLanguage value from the server or cookie
        var currentLanguage = '@currentLanguage'; // Server-side Razor variable

        // Set the selected option in the dropdown based on the current language
             // Close success alert after 4 seconds
          function closeAlert(alertId) {
            var alertElement = document.getElementById(alertId);
            if (alertElement) {
                setTimeout(function () {
                    alertElement.classList.add("fade");
                    setTimeout(() => alertElement.remove(), 500); // Ensure smooth removal
                }, 4000);
            }
        }

        closeAlert("successAlert");
        closeAlert("errorAlert");
    </script>
</body><!--end::Body-->

</html>