@model LocationModel

@{
    ViewData["Title"] = "Employee Details";
}

<h2>Location Details</h2>

<div>
    <h4>@Model.LocationNameEnglish</h4>
    <p><strong>Arabic Name:</strong> @Model.LocationNameArabic</p>
    <p><strong>Status:</strong> @(Model.Status ? "Active" : "Inactive")</p>
    <p><strong>Latitude:</strong> @Model.Latitude</p>
    <p><strong>Longitude:</strong> @Model.Longitude</p>
    <p><strong>Radius:</strong> @Model.SetRadius</p>
</div>

<a asp-action="List" class="btn btn-primary">Back to List</a>
