@model Mobi.Web.Models.Locations.LocationModel

@{
    ViewData["Title"] = @T("Mobi.Location.DetailsTitle");
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <!-- Title Section -->
        <h2 class="mb-0">@T("Mobi.Location.DetailsHeader")</h2>
        <div class="btn-group">
            <div class="d-flex justify-content-end mt-4">
                <a asp-action="List" class="btn btn-secondary btn-sm me-2">@T("Mobi.Location.BackToList")</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm me-2">@T("Mobi.Location.EditButton")</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">@T("Mobi.Location.DeleteButton")</a>
            </div>
        </div>
    </div>

    <!-- Card for Location Information -->
    <div class="card card-outline card-info">
        <div class="card-body">
            <!-- Location Information -->
            <dl class="row">
                <dt class="col-sm-3">@T("Mobi.Location.NameEnglish")</dt>
                <dd class="col-sm-9">@Model.LocationNameEnglish</dd>

                <dt class="col-sm-3">@T("Mobi.Location.NameArabic")</dt>
                <dd class="col-sm-9">@Model.LocationNameArabic</dd>

                <dt class="col-sm-3">@T("Mobi.Location.Status")</dt>
                <dd class="col-sm-9">@(Model.Status ? @T("Mobi.Location.StatusActive") : @T("Mobi.Location.StatusInactive"))</dd>

                <dt class="col-sm-3">@T("Mobi.Location.ProofType")</dt>
                <dd class="col-sm-9">@Model.ProofTypeName</dd>

                <dt class="col-sm-3">@T("Mobi.Location.Latitude")</dt>
                <dd class="col-sm-9">@Model.Latitude</dd>

                <dt class="col-sm-3">@T("Mobi.Location.Longitude")</dt>
                <dd class="col-sm-9">@Model.Longitude</dd>

                <dt class="col-sm-3">@T("Mobi.Location.SetRadius")</dt>
                <dd class="col-sm-9">@Model.SetRadius</dd>

                <dt class="col-sm-3">@T("Mobi.Location.GPSLocationAddress")</dt>
                <dd class="col-sm-9">@Model.GPSLocationAddress</dd>

                <dt class="col-sm-3">@T("Mobi.Location.CompanyId")</dt>
                <dd class="col-sm-9">@Model.CompanyId</dd>

                <dt class="col-sm-3">@T("Mobi.Location.CreatedDate")</dt>
                <dd class="col-sm-9">@Model.CreatedDate.ToString("dd/MM/yyyy")</dd>
            </dl>
        </div>
    </div>
</div>
